.modalcontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal > .title {
  width: 400px;
  height: 32px;
  line-height: 32px;
  padding-left: 8px;
  font-weight: bold;
  color: #777;
}

.modal > .content {
  width: 400px;
  height: 300px;
}

.backdrop {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #444;
  opacity: .5;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
}

.backdrop.show {
  display: block;
}

.modal > .content.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto auto auto auto;
      grid-template-columns: auto auto auto auto auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.modal {
  background-color: whitesmoke;
  z-index: 100;
  display: none;
}

.modal.show {
  display: block;
  -webkit-animation-name: modal_show;
          animation-name: modal_show;
  -webkit-animation-duration: 350ms;
          animation-duration: 350ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.modal.hide {
  -webkit-animation-name: modal_hide;
          animation-name: modal_hide;
  -webkit-animation-duration: 150ms;
          animation-duration: 150ms;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes modal_show {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes modal_show {
  0% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.4;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes modal_hide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.0;
  }
}

@keyframes modal_hide {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    opacity: 0.0;
  }
}

.modal .color {
  width: 48px;
  height: 48px;
  border-radius: 32px;
  background-color: #444;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.modal .color:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
/*# sourceMappingURL=modal.css.map */